<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="angularValidators">
<div ng-controller="ValidationController">
    <form name="form">
        <h1>Async Validator with callback</h1>
        <input type="text" name="name"
               ng-model="name.value" required validator-with-callback="name" />
        <div ng-if="form.name.$valid">{{name.detail}}</div>

        <h1>Validation over multiple inputs</h1>
        <input type="password" name="password" ng-model="password" required ng-minlength="8" validate-must-equal-to="password2" form-name="form" />
        <div ng-messages="form.password.$error" ng-if="form.password.$touched && form.password.$invalid && !form.password.$error.notEqualTo">
            <div ng-message="required">This field is required</div>
            <div ng-message="minlength">Your password must be at least 8 characters long</div>
        </div>
        <br />
        <input type="password" name="password2" ng-model="password2" required ng-minlength="8" validate-must-equal-to="password" form-name="form" />
        <div ng-messages="form.password2.$error" ng-if="form.password2.$touched && form.password2.$invalid">
            <div ng-message="required">This field is required</div>
            <div ng-message="minlength">Your password must be at least 8 characters long</div>
            <div ng-message="notEqualTo">Your passwords do not match</div>
        </div>

        <p>The submit button will only be enabled when the entire form is valid</p>
        <button ng-disabled="form.$invalid">Submit</button>
    </form>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/helloResource.js"></script>
<script src="scripts/validationController.js"></script>
<script src="scripts/validatorWithCallback.js"></script>
<script src="scripts/validateMustEqualTo.js"></script>
</body>
</html>